ul {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  margin-left: 23px;
}
li {
  margin-top: 10px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #fff !important;
}
.row {
  margin: 0 !important;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.body-bg {
  background-color: #b7b7b7;
  color: #fff;
}
.title {
  color: #fff;
  text-align: center;
  margin-top: 65px;
}
.hide {
  display: none;
}
.text {
  text-align: center;
  margin: 0;
}
.logo {
  width: 50px;
  height: 50px;
  background: #fff;
}
.main {
  border: 10px solid #fff;
  height: 670px;
  background-image: url("../images/IMG_2936.PNG");
  background-repeat: no-repeat;
  background-size: 100% 820px;
  width: 100%;
  /*opacity: 0.3;*/
  float: left;
}
@media (min-width : 769px) and (max-width : 1200px) {
.navbar {
  display: none!important;
}
.sidebar {
  display: block;
}
.main {
  height: 620px;
  width: 70%;
}
.logo {
   display: block;
   margin: 0 auto;
   margin-top: 10px;
}
ul {
  margin: 0;
}
li {
  text-align: center;
}
.hr {
  color: #fff !important;
  width: 50%;
  border-top: solid;
}
}
/*@media (min-width: 921px) and (max-width : 1200px) {

}*/

/**************************************************************************
                        Sidebar Section
***************************************************************************/
.sidebar {
  background-color: #000;
  width: 30%;
  height: 620px;
  float: left;
}
.copyright {
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
}
/**************************************************************************
                        NavBar Section
***************************************************************************/
a.nav-link {
  color: #fff!important;
}
.nav-bg {
  background-color: #000!important;
}
.navbar-light .navbar-toggler {
  background-color: #fff;
}
.navbar {
  background-color: blue;
  margin-bottom: 0;
  border: 10px double #fff;
  width: 100%;
}
.nav {
  float: left;
}
.navbar-brand  {
  padding-top: 0px;
}
.nav-pills li {
  padding-top: 5px;
}
.nav>li>a:hover {
  color: #0B3C5D;
  background-color: #1D2731;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 2px 10px;
  color: #fff;
}
.nav>li>a:focus {
  color: #0B3C5D;
  background-color: #1D2731;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  background-color: #1D2731;
  margin: 8px 5px 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1D2731;
}

/**************************************************************************
                        About Section
***************************************************************************/
blockquote {
  padding: 20px;
}
.main-about {
  border: 10px solid #fff;
  height: 790px;
  background-image: url("../images/IMG_2135.png");
  background-repeat: no-repeat;
  background-size: 100% 820px;
  width: 100%;
  float: left
}
.me {
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
}
.about-me {
  padding: 20px;
}
@media (min-width : 769px) and (max-width : 1200px) {
.main-about {
  height: 620px;
  width: 70%;
}
}

/**************************************************************************
                        Skills Section
***************************************************************************/
.main-skills {
  border: 10px solid #fff;
  height: 605px;
  background-size: 100% 820px;
  width: 100%;
  float: left;
}
#progress-html{
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
#progress-css{
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#progress-javascript{
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
#progress-react{
  -webkit-animation-name: progress-react;
  animation-name: progress-react;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
#progress-node{
  -webkit-animation-name: progress-node;
  animation-name: progress-node;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
#progress-ruby{
  -webkit-animation-name: progress-ruby;
  animation-name: progress-ruby;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.skills-bar-container{
  list-style: none;
  margin: 6% auto;
  min-width: 300px;
  padding: 1% 0 1%;
  position: relative;
  width: 45%;
}
.skills-bar-container li{
  background: #555;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 30px;
  -moz-border-radius: 5px;
  position: relative;
  -webkit-border-radius: 5px;
  width: 100%;
}
.skills-bar-container label{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
  position: relative;
}
.skills-bar-container .percent{
  color: #fff;
  font-size: 14px;
  float: right;
}
.skills {
  background-color: #000;
  height: 600px;
}
.my-skills {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  padding-top: 3%;
  text-align: center;
}
.progressbar{
  border-radius: 5px;
  height: 100%;
  position:absolute;
  left: 0;
  width:0%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.progressred {
  background-color: #c0392b;
}
.progressblue {
  background-color: #1199ff;
}
.progresspurple {
  background-color: #9b59b6;
}
.progressorange {
  background-color: orange;
}
.progressgreen {
  background-color: #27ae60;
}
.progresswhite {
  background-color: #fff;
}
@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@-webkit-keyframes progress-react{0%{width: 0%;} 100%{ width: 50%;}}
@-webkit-keyframes progress-node{0%{width: 0%;} 100%{ width: 50%;}}
@-webkit-keyframes progress-ruby{0%{width: 0%;} 100%{ width: 40%;}}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-react{0%{width: 0%;} 100%{ width: 50%;}}
@-moz-keyframes progress-node{0%{width: 0%;} 100%{ width: 50%;}}
@-moz-keyframes progress-ruby{0%{width: 0%;} 100%{ width: 40%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-react{0%{width: 0%;} 100%{ width: 50%;}}
@keyframes progress-node{0%{width: 0%;} 100%{ width: 50%;}}
@keyframes progress-ruby{0%{width: 0%;} 100%{ width: 40%;}}

@media (min-width : 769px) and (max-width : 1200px) {
.main-skills {
  height: 620px;
  width: 70%;
}
}

/**************************************************************************
                        Contact Section
***************************************************************************/
/**{ margin:0; padding:0;}
	body{ font:100% normal Arial, Helvetica, sans-serif; background:#161712;}
	form,input,select,textarea{margin:0; padding:0; color:#fff;}*/
  .main-contact {
    border: 10px solid #fff;
    height: 605px;
    width: 100%;
    float: left;
  }

	div.box{
	margin:0 auto;
	 height: 585px;
	background:#222;
	border:1px solid #262626;
	}

	div.box h1{
	color:#fff;
  text-align: center;
	font-size:18px;
	text-transform:uppercase;
	padding:5px 0 5px 5px;
	border-bottom:1px solid #161712;
	border-top:1px solid #161712;
	}

	div.box label{
	width:100%;
	display: block;
	background:#222;
	border-top:1px solid #262626;
	/*border-bottom:1px solid #161712;*/
	padding:10px 0 10px 0;
	}
	div.box label span{
	display: block;
	color:#bbb;
	font-size:12px;
	float:left;
	width:100px;
	text-align:right;
	padding:5px 20px 0 0;
	}

	div.box .input_text{
	padding:10px 10px;
	width:200px;
	background: #b7b7b7;
	}

	div.box .message {
	width:60%;
  margin-left: 8px;
  background: #b7b7b7;
	overflow:hidden;
	height:100px;
	}

	div.box .button {
    color: #222;
	  padding:4px 7px;
    margin-top: 20px;
	  background:#fff;
    margin-left: 10px;
    display: block;
	}

@media (min-width : 769px) and (max-width : 1200px) {
.main-contact {
  height: 620px;
  width: 70%;
  background-color: #222;
}
}

/**************************************************************************
                        Project Section
***************************************************************************/
.main-projects {
  border: 10px solid #fff;
  height: 605px;
  background-size: 100% 820px;
  width: 100%;
  float: left;
}
h1.project {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}
li.list {
  margin-left: 2px;
}
.projects {
  margin-top: 0;
}
.project {
  background-color: #000;
  color: #0B3C5D;
  padding-top: 5%;
  font-size: 21px;
  text-align: center;
  width: 100%;
}
.iphone1, .iphone2, .iphone3, .iphone4, .iphone5, .iphone6, .iphone7  {
  background-color: #000;
  opacity: 1;
  width: 100%;
  margin: 0 -14px;
}
.row1 {
    display: inline-flex;
    padding: 7px;
    margin-left: 5px;
    margin-top: -14px;
    list-style-type: none;
    width: 100%;
}
.row2 {
  display: inline-flex;
  list-style-type: none;
  width: 100%;
  margin-left: 5px;
  margin-top: -20px;
  padding: 7px;
}

@media (min-width : 769px) and (max-width : 1200px) {
.main-projects {
  height: 620px;
  width: 70%;
}
}
/**************************************************************************
                        Social Media Section
***************************************************************************/
.social-media {
  text-align: center;
}
.social {
    display: inline-flex;
}
